<!DOCTYPE HTML>
<html lang="en">
 <head>
  <meta charset="utf-8"/>
  <title>Home</title>
 </head>
 <body>
  <form method="post" action="/prosesAsn">
    NIK: <input type="text" name="nik" placeholder="nik" autofocus/>
    NIP: <input type="text" name="nip" placeholder="NIP"/>
    Nama: <input type="text" name="nama" placeholder="Nama"/>
    Alamat: <input type="text" name="alamat" placeholder="Alamat"/>
    <input type="submit" value="Add Users"/>
   </form>
 </body>
</html>